*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Poppins', sans-serif;

}

h1{
    color: black;
    text-shadow: 2px 2px 3px #0000005f;
    font-size: 70px;
    font-weight: 50;

}

p{
    color: black;
    font-size: 20px;
    font-weight: 50;
}

.second {
    color: black;
    font-size: 20px;
    font-weight: 50;
    text-align: left;
    padding-left: 30px;
}

.h1color{
    color: #005959;
    text-shadow: 2px 2px 3px #0000005f;
    font-size: 70px;
    font-weight: 50;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: absolute;
    padding: 0%;
    left: 150px;
    width: 550px;
    height: 400px;
    opacity: 0.5;
    
  }
  .image2 {
    position: absolute;
    top: 380px;
    left: 450px;
    width: 550px;
    height: 400px;
    opacity: 0.5;
    border-radius: 40%;
 }

nav{
    background:transparent;
    padding: 5px 20px;
}

ul{
    list-style-type: none;
}

.content{
    text-align: center;
}

.content h1{
    text-align: left;
    padding-left: 50px;
    font-size: 60px;
    color:white;
    font-weight: 100;
}

.innovation {
    color: #9600F4;
    text-shadow: 2px 2px 3px #0000005f;
    text-align: center;
    padding-left: 650px;
    padding-top: 80px;
    font-weight: lighter;

}

.drive {
    color: black;
    text-shadow: 2px 2px 3px #0000005f;
    text-align: center;
    padding-left: 700px;
    padding-top: 20px;
    font-weight: lighter;
}

p {
    color: black;
    text-align: right;
    padding-right: 280px;
    padding-top: 20px;
    font-weight: lighter;
}


.content .active{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    padding: 14px 70px;

}

a{
    color:white;
    text-decoration: none;
    text-shadow: 2px 2px 3px #0000005f;
    
}

.back-video{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
}


a:hover{
    color: #9600F4;
}

.menu li{
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a{
    display: block;
}

.logo {
    font-size: 35px;
}

.button{
    border-bottom: 1px #444 solid;
}

/*Mobile Menu */

.menu{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    order:1;
}

.item.button{
    order:2;
}

.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active{
    display: block;
}

.toggle{
    cursor: pointer;
}

.bars{
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before, .bars::after{
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top:5px;
}

.bars::after {
    top:-5px;
}

/* Table Menu*/

@media all and (min-width:468px){
    .menu{
        justify-content: center;
    }

    .logo{
        flex: 1;
    }

    .item.button{
        width: auto;
        order: 1;
        display: block;
    }

    .toggle{
        order: 2;
    }

    .button{
        border: 0;
    }

    .button a{
        text-decoration: none;
        padding: 7px 15px;
        background: teal;
        border: 1px solid #006d6d;
        border-radius: 50em;
    }

    .button a:hover{
        transition: all .25s;
        background: #006d6d;
        border-color: #005959;
    }

}

@media all and (min-width: 768px){
    .item{
        display: block;
        width: auto;
    }

    .toggle{
        display: none;
    }

    .logo{
        order:0;
    }

    .item{
        order:1;
    }

    .button{
        order:2;
    }

    .menu li{
        padding: 15px 10px;
    }

    .menu li.button{
        padding-right: 0;
    }
}